<!DOCTYPE html>
<html>
<head>
    <title>Employee Hierarchy</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Employee Hierarchy</h1>
        <ul>
            {% for employee in employees %}
                <li>{{ employee.name }} - {{ employee.position }}
                    {% include 'employees/subordinates.html' with subordinates=employee.subordinates.all %}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
